<div class="settings-cnt bg">
  <div class="header-section">
    <h2>Settings</h2>
  </div>

  <form [formGroup]="settingsForm">
    <div class="preference">
      <label for="lang" id="vr-Question-dropdown"><b>Icon size</b></label>
      <input type="range" id="icon_range" formControlName="size">
    </div>

    <div class="preference">
      <label for="lang" id="vr-Question-dropdown"><b>Language</b></label>
      <select id="vr-ans-dropdown" name="lang" formControlName="lang">
        <option *ngFor="let lang of languages" [value]="lang[1]">{{lang[1]}}</option>
      </select>
    </div>

    <div class="preference">
      <label for="subLang" id="vr-dropdown"><b>Sub language</b></label>
      <ng-container *ngIf="settingsForm?.value?.lang">
        <select id="vr-ans-dropdown" name="subLang" formControlName="subLang">
          <option *ngFor="let subLang of settingsForm?.value?.lang" value="subLang">{{subLang}}</option>
        </select>
      </ng-container>
    </div>

  </form>

  <div class="container">
    <div class="btn"><a href="javascript:void(0)" (click)="dialogRef.close()">Reset</a></div>
    <div class="btn"><a href="javascript:void(0)" (click)="dialogRef.close()">Save</a></div>
    <div class="btn"><a href="javascript:void(0)" (click)="dialogRef.close()">Close</a></div>
  </div>
</div>
