<div class="example-box wrapper" cdkDrag>
  <div class="tooltip">
    <div class="start-stop">
      <img *ngIf="!isVRRcord" src="/assets/play.png" alt="start" (click)="clickStart()">
      <img *ngIf="isVRRcord" src="/assets/stop.png" alt="stop" (click)="clickStop()">
    </div>
    <div class="mic-testing">
      <img src="/assets/microphone.png" alt="mic-testing" (click)="openMicTestingTool()">
    </div>
    <div class="settings">
      <img src="/assets/setting.png" alt="settings" (click)="openSettings()">
    </div>
    <div class="info">
      <img src="/assets/info.png" alt="info" (click)="info()">
    </div>
  </div>
  <!-- trg icon -->
  <div class="trag-icon-cnt">
    <img *ngIf="!isVRRcord" src="/assets/speech-icon.png">
    <img *ngIf="isVRRcord" src="/assets/rec.png">
  </div>
</div>
