<div id="overlay" class="overlay-cnt" cdkDrag>
  <div  class="wrapper">
    <div class="header-cnt">
      <h1>Voice recognition</h1>
    </div>
    <div class="controller-cnt" >
      <button style="margin: 10px;" (click)="startService()">Start</button>
      <button style="margin: 10px;" (click)="stopService()">Stop</button>
    </div>
    <div class="result-cnt">
      <!-- <p>{{voiceRecognitionServiceService.text}}</p> -->
      <p>{{ speech}}</p>
      <hr>
      <p>{{ voice }}</p>
    </div>
  </div>
</div>

