<div id="overlay" class="overlay-cnt" cdkDrag>
  <div  class="wrapper">
    <div class="header-cnt">
      <h1>Voice recognition</h1>
    </div>
    <!-- <div class="controller-cnt" >
      <button style="margin: 10px;" (click)="startService()">Start</button>
      <button style="margin: 10px;" (click)="stopService()">Stop</button>
    </div> -->
    <div class="result-cnt">
      <form>
        <label for="fname" id="vr-Question-firstname">First name:</label><br>
        <input type="text" id="vr-ans-firstname" name="fname" value=""><br>
        <label for="lname" id="vr-Question-lastname">Last name:</label><br>
        <input type="text" id="vr-ans-lastname" name="lname" value=""><br>
        <label for="lage" id="vr-Question-age">age:</label><br>
        <input type="text" id="vr-ans-age" name="age" value="">
      </form>
    </div>
    <!-- <div class="result-cnt">
      <p>{{ speech}}</p>
      <hr>
      <p>{{ voice }}</p>
    </div> -->
  </div>
</div>

<app-drag-tool (start)="startService()" (stop)="stopService()"></app-drag-tool>

