#overlay {
  min-width      : 380px;
  width          : 450px;
  opacity        : 100%;
  cursor         : pointer;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

  .wrapper {
    width           : 100%;
    height          : 100%;
    padding         : 18px;
    border-radius   : 2px;
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: white;

    .header-cnt {
      align-items    : center;
      justify-content: center;
    }

    .controller-cnt {
      button {
        padding      : 10px;
        font-weight  : 600;
        border-radius: 10px;
        font-size    : large;

        &:hover {
          size            : 100%;
          background-color: green;
          color           : white;
        }
      }
    }

    .result-cnt {
      min-width    : 300px;
      width        : 300px;
      min-height   : 250px;
      height       : 250px;
      border       : 1px solid gray;
      background   : white;
      border-radius: 4PX;

      p {
        padding: 0;
        margin : 0;
      }

      .speech {
        // border: 1px solid orange;
        height : 15%;
        display: block;
      }

      .voice {
        // border: 1px solid orange;
        display: block;
        height : 85%;
      }
    }
  }

}