/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100vw;
  // overflow-x: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// body {font-family: Arial, Helvetica, sans-serif;}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: white;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

