<div class="info-cnt bg">
  <div class="header-section">
    <h2>Astrid</h2>
  </div>
  <div class="astrid">
    <img src="http://d2dcv6kjbpqcv3.cloudfront.net/assets/speech-icon.png" alt="">
    <div class="hr"></div>
    <div class="astrid-content">
      <p>Accurate Speech to Text Recognition Intelligent Devices</p>
    </div>
  </div>
  <div class="content-sec">
    <p><b>Version: </b> 0.1</p>
    <p><b>Developed by: </b> Whatuni incendio</p>
    <p><b>More about </b> <a href="https://rsbharathrs.github.io/astrid-website/#" target="_blank">Astrid</a></p>
  </div>
  <div class="container">
    <div class="btn"><a href="javascript:void(0)" (click)="dialogRef.close()">Close</a></div>
  </div>
</div>
